<style>
.chunk {
	background-color: lightgray;
}
.addition {
	background-color: lightgreen;
}
.deletion {
	background-color: lightpink;
}
</style>

{{#each issues}}
	<h2>
		{{#if merged}}
			[Merged]
		{{/if}}
		{{#if closed}}
			[Closed]
		{{/if}}
		{{#if new}}
			[New]
		{{/if}}
		{{#if active}}
			[Active]
		{{/if}}
		<a href="{{issue.html_url}}">{{issue.title}}</a>
	</h2>
	{{#if new}}
		{{{issue.body_html}}}
	{{/if}}
	{{#each comments}}
		<h3><a href="{{user.html_url}}">@{{user.login}}</a> <a href="{{html_url}}">commented</a> {{fromNow created_at}}</h3>
		{{{body_html}}}
	{{/each}}
	{{#each pullComments}}
		<h3><a href="{{user.html_url}}">@{{user.login}}</a> <a href="{{html_url}}">commented</a> on the diff {{fromNow created_at}}</h3>
		<pre>{{diff diff_hunk 10}}</pre>
		{{{marked body}}}
	{{/each}}
{{/each}}